In [1]:
import pandas as pd
df = pd.read_csv('學生成績.csv')
display(df)

#視覺美化資料表
def less60(v,prop=''):
    return prop if v < 60 else None

df.style\
.map(less60,prop='color:red;',subset=["國文","英文","數學","地理","歷史"])\
.format(precision=2,subset=["平均"])

    學號   姓名  國文   英文   數學  地理  歷史   總分    平均
0    1  蘇凡菁  57   98   57  53  97  362  72.4
1    2  謝貞妃  66  100   82  84  65  397  79.4
2    3  林向鈺  89   55   51  52  95  342  68.4
3    4  吳欣書  74   53   55  58  76  316  63.2
4    5  王孝純  58   63   68  86  97  372  74.4
5    6  羅佩樺  51   81   98  91  88  409  81.8
6    7  張雅芬  61   74   64  75  97  371  74.2
7    8  郭淑枝  74   54   58  96  93  375  75.0
8    9  黃佩玲  63   76   67  65  71  342  68.4
9   10  唐雪豪  88   79  100  97  54  418  83.6
10  11  黃詩妃  51   57   97  70  96  371  74.2
11  12  姜琬婷  75   69   88  55  77  364  72.8
12  13  盧必妍  57   54   54  66  62  293  58.6
13  14  李蓉瑞  88   94   61  64  88  395  79.0
14  15  林詠斌  50   80   62  51  59  302  60.4
15  16  陳俊憲  93   87   86  64  53  383  76.6
16  17  劉雯芬  66   82   94  86  69  397  79.4
17  18  唐雪豪  55   51   97  77  84  364  72.8
18  19  張彥博  57   54   99  87  98  395  79.0
19  20  昌嘉洋  54   88   64  73  88  367  73.4
20  21  周怡啟  94   82   65  56  56  353  70.6
21  22  孫火清  68   51   50  87  77  333  66.6
22  23  聶心怡  58   66   60  82  63  329  65.8
23  24  程玫靖  50   69   94  70  62  345  69.0
24  25  馬彥文  88   87   98  81  96  450  90.0
25  26  王梅劭  55   51   86  67  83  342  68.4
26  27  王良斌  80   75   85  77  60  377  75.4
27  28  林佳光  85   67   87  60  60  359  71.8
28  29  沈心利  83   65   69  56  66  339  67.8
29  30  王雅慧  70   68   98  84  73  393  78.6