In [1]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student[0]
student[4]
student

array([67, 78, 92, 74, 65])

In [2]:
import pandas as pd

s1 = pd.Series([67, 78, 92, 74, 65],index=['國文', '英文', '數學', '地理', '歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [3]:
s1 + 3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [4]:
s1['國文'] #使用key-index
s1[0] #使用原生-index

/tmp/ipykernel_53360/3821365550.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [5]:
for i in s1:
    print(i)

67
78
92
74
65

In [6]:
#numpy的統計,可以套用在pandas
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [7]:
#利用numpy的function做統計
np.sum(s1)

376

In [8]:
np.mean(s1)

75.2

In [9]:
np.std(s1)

9.620810776644555

In [10]:
np.median(s1)

74.0

In [11]:
import pandas as pd
pd.DataFrame({
    "徐國堂":[78, 92, 76, 91, 72],
    "王xx":[72, 81, 92, 94, 69],
    "張xx":[81, 65, 89, 81, 72],
},index=['國文', '英文', '數學', '地理', '歷史'])

    徐國堂  王xx  張xx
國文   78   72   81
英文   92   81   65
數學   76   92   89
地理   91   94   81
歷史   72   69   72

In [12]:
import numpy as np
import pandas as pd

data = np.random.randint(60,high=100,size=(50,5))
pd.DataFrame(data,
             index = range(1,51),
             columns=['國文', '英文', '數學', '地理', '歷史']
             )

    國文  英文  數學  地理  歷史
1   94  64  77  82  90
2   83  83  63  96  64
3   66  71  60  62  78
4   76  80  63  92  92
5   76  69  73  90  96
6   79  77  66  98  83
7   78  98  82  70  74
8   88  78  86  92  67
9   78  84  72  77  94
10  95  90  82  80  84
11  79  72  70  63  80
12  68  60  77  79  91
13  98  69  75  72  70
14  73  65  79  78  72
15  75  85  66  64  65
16  66  77  77  66  65
17  64  82  68  90  81
18  84  89  83  79  92
19  78  89  82  64  87
20  72  75  93  80  66
21  77  84  65  69  81
22  80  69  68  62  99
23  94  85  68  60  84
24  68  91  91  89  81
25  67  72  89  66  75
26  69  84  63  72  79
27  64  92  98  84  61
28  95  97  96  69  91
29  62  87  68  60  94
30  80  78  87  98  79
31  63  63  72  64  86
32  83  79  82  99  78
33  97  61  88  78  79
34  75  79  93  78  67
35  70  75  94  61  74
36  60  91  74  83  75
37  63  72  92  63  80
38  70  97  78  85  60
39  70  64  61  79  69
40  77  73  79  64  71
41  62  68  63  98  84
42  88  74  82  87  68
43  62  82  69  60  69
44  94  98  89  71  90
45  67  65  74  83  92
46  76  96  99  80  92
47  97  69  94  87  96
48  64  68  99  91  87
49  85  90  81  81  71
50  89  98  84  78  67