In [8]:
import pandas as pd
df = pd.read_csv('學生成績.csv')
df.index = df['學號']
df1 = df.drop(columns='學號')
df1

     姓名  國文   英文   數學  地理  歷史   總分    平均
學號
1   蘇凡菁  57   98   57  53  97  362  72.4
2   謝貞妃  66  100   82  84  65  397  79.4
3   林向鈺  89   55   51  52  95  342  68.4
4   吳欣書  74   53   55  58  76  316  63.2
5   王孝純  58   63   68  86  97  372  74.4
6   羅佩樺  51   81   98  91  88  409  81.8
7   張雅芬  61   74   64  75  97  371  74.2
8   郭淑枝  74   54   58  96  93  375  75.0
9   黃佩玲  63   76   67  65  71  342  68.4
10  唐雪豪  88   79  100  97  54  418  83.6
11  黃詩妃  51   57   97  70  96  371  74.2
12  姜琬婷  75   69   88  55  77  364  72.8
13  盧必妍  57   54   54  66  62  293  58.6
14  李蓉瑞  88   94   61  64  88  395  79.0
15  林詠斌  50   80   62  51  59  302  60.4
16  陳俊憲  93   87   86  64  53  383  76.6
17  劉雯芬  66   82   94  86  69  397  79.4
18  唐雪豪  55   51   97  77  84  364  72.8
19  張彥博  57   54   99  87  98  395  79.0
20  昌嘉洋  54   88   64  73  88  367  73.4
21  周怡啟  94   82   65  56  56  353  70.6
22  孫火清  68   51   50  87  77  333  66.6
23  聶心怡  58   66   60  82  63  329  65.8
24  程玫靖  50   69   94  70  62  345  69.0
25  馬彥文  88   87   98  81  96  450  90.0
26  王梅劭  55   51   86  67  83  342  68.4
27  王良斌  80   75   85  77  60  377  75.4
28  林佳光  85   67   87  60  60  359  71.8
29  沈心利  83   65   69  56  66  339  67.8
30  王雅慧  70   68   98  84  73  393  78.6

In [15]:
df1['排名'] = df1['平均'].rank(method='min',ascending=False)
df2 = df1.sort_values(by='平均',ascending=False)

In [16]:
df2.iloc[:10]

     姓名  國文   英文   數學  地理  歷史   總分    平均    排名
學號
25  馬彥文  88   87   98  81  96  450  90.0   1.0
10  唐雪豪  88   79  100  97  54  418  83.6   2.0
6   羅佩樺  51   81   98  91  88  409  81.8   3.0
17  劉雯芬  66   82   94  86  69  397  79.4   4.0
2   謝貞妃  66  100   82  84  65  397  79.4   4.0
19  張彥博  57   54   99  87  98  395  79.0   6.0
14  李蓉瑞  88   94   61  64  88  395  79.0   6.0
30  王雅慧  70   68   98  84  73  393  78.6   8.0
16  陳俊憲  93   87   86  64  53  383  76.6   9.0
27  王良斌  80   75   85  77  60  377  75.4  10.0

In [17]:
df2.iloc[-10:]

     姓名  國文  英文  數學  地理  歷史   總分    平均    排名
學號
24  程玫靖  50  69  94  70  62  345  69.0  21.0
3   林向鈺  89  55  51  52  95  342  68.4  22.0
26  王梅劭  55  51  86  67  83  342  68.4  22.0
9   黃佩玲  63  76  67  65  71  342  68.4  22.0
29  沈心利  83  65  69  56  66  339  67.8  25.0
22  孫火清  68  51  50  87  77  333  66.6  26.0
23  聶心怡  58  66  60  82  63  329  65.8  27.0
4   吳欣書  74  53  55  58  76  316  63.2  28.0
15  林詠斌  50  80  62  51  59  302  60.4  29.0
13  盧必妍  57  54  54  66  62  293  58.6  30.0

In [18]:
df2.head(n=10)

     姓名  國文   英文   數學  地理  歷史   總分    平均    排名
學號
25  馬彥文  88   87   98  81  96  450  90.0   1.0
10  唐雪豪  88   79  100  97  54  418  83.6   2.0
6   羅佩樺  51   81   98  91  88  409  81.8   3.0
17  劉雯芬  66   82   94  86  69  397  79.4   4.0
2   謝貞妃  66  100   82  84  65  397  79.4   4.0
19  張彥博  57   54   99  87  98  395  79.0   6.0
14  李蓉瑞  88   94   61  64  88  395  79.0   6.0
30  王雅慧  70   68   98  84  73  393  78.6   8.0
16  陳俊憲  93   87   86  64  53  383  76.6   9.0
27  王良斌  80   75   85  77  60  377  75.4  10.0

In [19]:
df2.tail(n=10)

     姓名  國文  英文  數學  地理  歷史   總分    平均    排名
學號
24  程玫靖  50  69  94  70  62  345  69.0  21.0
3   林向鈺  89  55  51  52  95  342  68.4  22.0
26  王梅劭  55  51  86  67  83  342  68.4  22.0
9   黃佩玲  63  76  67  65  71  342  68.4  22.0
29  沈心利  83  65  69  56  66  339  67.8  25.0
22  孫火清  68  51  50  87  77  333  66.6  26.0
23  聶心怡  58  66  60  82  63  329  65.8  27.0
4   吳欣書  74  53  55  58  76  316  63.2  28.0
15  林詠斌  50  80  62  51  59  302  60.4  29.0
13  盧必妍  57  54  54  66  62  293  58.6  30.0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 1 to 30
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學號      30 non-null     int64
 1   姓名      30 non-null     object
 2   國文      30 non-null     int64
 3   英文      30 non-null     int64
 4   數學      30 non-null     int64
 5   地理      30 non-null     int64
 6   歷史      30 non-null     int64
 7   總分      30 non-null     int64
 8   平均      30 non-null     float64
dtypes: float64(1), int64(7), object(1)
memory usage: 2.3+ KB

In [21]:
df2.query('排名<=10')

     姓名  國文   英文   數學  地理  歷史   總分    平均    排名
學號
25  馬彥文  88   87   98  81  96  450  90.0   1.0
10  唐雪豪  88   79  100  97  54  418  83.6   2.0
6   羅佩樺  51   81   98  91  88  409  81.8   3.0
17  劉雯芬  66   82   94  86  69  397  79.4   4.0
2   謝貞妃  66  100   82  84  65  397  79.4   4.0
19  張彥博  57   54   99  87  98  395  79.0   6.0
14  李蓉瑞  88   94   61  64  88  395  79.0   6.0
30  王雅慧  70   68   98  84  73  393  78.6   8.0
16  陳俊憲  93   87   86  64  53  383  76.6   9.0
27  王良斌  80   75   85  77  60  377  75.4  10.0

In [22]:
df2

     姓名  國文   英文   數學  地理  歷史   總分    平均    排名
學號
25  馬彥文  88   87   98  81  96  450  90.0   1.0
10  唐雪豪  88   79  100  97  54  418  83.6   2.0
6   羅佩樺  51   81   98  91  88  409  81.8   3.0
17  劉雯芬  66   82   94  86  69  397  79.4   4.0
2   謝貞妃  66  100   82  84  65  397  79.4   4.0
19  張彥博  57   54   99  87  98  395  79.0   6.0
14  李蓉瑞  88   94   61  64  88  395  79.0   6.0
30  王雅慧  70   68   98  84  73  393  78.6   8.0
16  陳俊憲  93   87   86  64  53  383  76.6   9.0
27  王良斌  80   75   85  77  60  377  75.4  10.0
8   郭淑枝  74   54   58  96  93  375  75.0  11.0
5   王孝純  58   63   68  86  97  372  74.4  12.0
11  黃詩妃  51   57   97  70  96  371  74.2  13.0
7   張雅芬  61   74   64  75  97  371  74.2  13.0
20  昌嘉洋  54   88   64  73  88  367  73.4  15.0
18  唐雪豪  55   51   97  77  84  364  72.8  16.0
12  姜琬婷  75   69   88  55  77  364  72.8  16.0
1   蘇凡菁  57   98   57  53  97  362  72.4  18.0
28  林佳光  85   67   87  60  60  359  71.8  19.0
21  周怡啟  94   82   65  56  56  353  70.6  20.0
24  程玫靖  50   69   94  70  62  345  69.0  21.0
3   林向鈺  89   55   51  52  95  342  68.4  22.0
26  王梅劭  55   51   86  67  83  342  68.4  22.0
9   黃佩玲  63   76   67  65  71  342  68.4  22.0
29  沈心利  83   65   69  56  66  339  67.8  25.0
22  孫火清  68   51   50  87  77  333  66.6  26.0
23  聶心怡  58   66   60  82  63  329  65.8  27.0
4   吳欣書  74   53   55  58  76  316  63.2  28.0
15  林詠斌  50   80   62  51  59  302  60.4  29.0
13  盧必妍  57   54   54  66  62  293  58.6  30.0

In [24]:
df2.to_excel('學生成績單.xlsx',sheet_name='3年5班成績單')