In [1]:
import pandas as pd


import pandas as pd
data = {"字串":["台北", "台中"],
        "整數":[1000, 3000],
        "浮點數":[3.258, 7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [5]:
#視覺美化資料表
#pip install jinja2
df.style\
.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [6]:
import numpy as np
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
                  index = pd.date_range(start="2023-09-01",periods=10),
                  columns=["台北","台中"]
                  )
df

                  台北        台中
2023-09-01  4.214827  3.984825
2023-09-02  1.853965  0.226653
2023-09-03  4.408428  1.053370
2023-09-04  1.997651  2.838730
2023-09-05  1.839882  4.432234
2023-09-06  1.864555  4.199360
2023-09-07  0.781834  0.455665
2023-09-08  4.801278  0.669143
2023-09-09  4.931486  2.659139
2023-09-10  3.475978  0.635881

In [7]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮溼"
    else:
        return "日照"
    
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)