In [1]:
import yfinance as yf
data = yf.download("2330.TW", start="2022-01-01",end="2022-12-31")
tw2330 = data[['Adj Close']]
tw2330.columns = ['台積電']
tw2330

[*********************100%%**********************]  1 of 1 completed

                   台積電
Date
2022-01-03  607.793213
2022-01-04  631.873779
2022-01-05  626.094421
2022-01-06  620.315063
2022-01-07  610.682922
...                ...
2022-12-26  449.421265
2022-12-27  449.913483
2022-12-28  444.006531
2022-12-29  439.084076
2022-12-30  441.545288

[246 rows x 1 columns]