In [2]:
place = {"TW":"TAIWAN" , "JP" : "JAPAN"}
place

{'TW': 'TAIWAN', 'JP': 'JAPAN'}

In [4]:
place["hk"] = "honkong" 
place

{'TW': 'TAIWAN', 'JP': 'JAPAN', 'hk': 'honkong'}

In [8]:
for key in place:
    print(f'key:{key}')

key:TW
key:JP
key:hk

In [10]:
type(key)

str

In [15]:
[i for i in range(1,20) if i % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
num = []
for i in range(1,10):
    num.append(i)
num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
leo = [ i for i in range(1,20) if i % 2 ==0]
leo

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
a = [1,3,5,7,9]
b = [2,4,6,8,10]
a[1] + b[0]

5